{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<!-- [ Main Content ] start -->
<section class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10"> ฟอร์ม บันทึกข้อมูล</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="{% url 'home' %}">HOME</a></li>
                         </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="col-sm-12">
                <div class="card">

                    <div class="card-body">
                        <form method="POST" class="KeyInput">
                            <!-- Poc insert -->
                            {% csrf_token %}
                            <fieldset class="form-group">
                                <legend class="border-bottom mb-4">บันทึกข้อมูลรายการตรวจราชการปี 2565</legend>
                                <div class="row">
                                    <div class="col-md-12">
                                        {{form.section|as_crispy_field}}
                                    </div>
                                    <div class="col-md-12">
                                        {{form.title|as_crispy_field}}
                                    </div>
                                    <div class="col-md-12">
                                        {{form.shortnote|as_crispy_field}}
                                    </div>
                                    <div class="col-md-12">
                                        {{form.content|as_crispy_field}}
                                    </div>
                                    <div class="col-md-12">
                                        {{form.image|as_crispy_field}}
                                    </div>
                                    <div class="col-md-12">
                                        {{form.uploadfile|as_crispy_field}}
                                    </div>

                                </div>
                            </fieldset>

                            <div class="form-group">
                                <button class="btn btn-info" type="submit">Save</button>
                            </div>
                            <!-- Poc insert -->

                        </form>
                    </div>
                </div>
            </div>
         </div>
        <!-- [ Main Content ] end -->
{% endblock content %}
    
