{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<!-- [ Main Content ] start -->
<section class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10"> รายละเอียดข้อมูลรายงานตรวจราชการ</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="{% url 'home' %}">HOME</a></li>
                         </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">

                            <!-- Poc insert -->
                            <div class="card-header">
                                <div class="row">
                                    <legend class="">{{document.section}}</legend>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="card align-items-center">
                                    <img src="{{document.image.url}}" alt="{{document.title}}" width="330px" ><br>
                                </div>
                                <div class="card-body">
                                    <div class="card-header">
                                        {{document.title}}
                                    </div>
                                    <div class="card-footer">
                                        {{document.shortnote}}
                                    </div>
                                    <div class="card-footer">
                                        {{document.content|safe}}
                                    </div>
                                    <div class="card-footer">
                                        <a href="{{document.uploadfile.url}}">ดาวน์โหลดเอกสารที่นี่</a>
                                    </div>
                                    <div class="card-footer">
                                        โพสต์โดย&nbsp;&nbsp;{{document.user.first_name}}&nbsp;&nbsp;{{document.user.last_name}}
                                    </div>
                                    <div class="card-footer">
                                        วันที่โพสต์&nbsp;{{document.create_date}}&nbsp;วันที่แก้ไข&nbsp;{{document.update_date}}
                                    </div>
                                    <div class="card-footer">
                                        <a href="{% url 'document-update' document.pk %}">
                                            <button class="btn btn-primary" type="submit">แก้ไขข้อมูล</button>
                                        </a> 
                                    </div> 
                                </div>
                            </div>
                            <!-- Poc insert -->
                    </div>
                </div>
            </div>
         </div>
        <!-- [ Main Content ] end -->
{% endblock content %}
    
