
{% extends 'main/base.html' %}

{% block content %}
          <!-- [ Main Content ] start -->
<div class="pcoded-main-container">
	<div class="pcoded-content">
		<!-- [ breadcrumb ] start -->
		<div class="page-header">
			<div class="page-block">
				<div class="row align-items-center">
					<div class="col-md-12">
						<div class="page-header-title">
							<h5 class="m-b-10">รายงานตรวจราชการ</h5>
						</div>
						<ul class="breadcrumb">
							<li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="feather icon-home"></i></a></li>
							<li class="breadcrumb-item"><a href="{% url 'home' %}">กลับสู่หน้าแรก</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- [ breadcrumb ] end -->
		<!-- [ Main Content ] start -->
		<div class="row">
			<!-- [ accordion-collapse ] start -->
			<div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="mb-0 text-c-green">ระบบรายงานตรวจราชการปี 2565</h5>
                        <hr>                        

                        <h2>คุณออกจากระบบเรียบร้อยแล้ว</h2>
                        <div class="border-top pt-3">
                          <h5 class="text-muted">
                            <a href="{% url 'login' %}">ลงชื่อเข้าใช้งานอีกครั้ง ?</a>
						  </h5>
                        </div>

                    </div>
                </div>
			</div>
			<!-- [ accordion-collapse ] end -->
		</div>
		<!-- [ Main Content ] end -->
	</div>
</div>
<!-- [ Main Content ] end -->
{% endblock content %}
    